@media (min-width: 736px) and (max-width: 1024px) /*Tablet Horizontal*/ 
{
    body{
        background-color:rgb(187, 155, 143) ;
    }
    p{
        text-align:justify;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;;
      }
    .container-fluid{          
     color:rgb(4, 12, 12);
     padding: 3% ;
    
    
      
    }
    .primero{
        background-color: darkcyan;
    }
    div{
        padding: 1%;
    }
}