<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<body>
        <form action="#" method="POST">
            <!-- Origen de -->
           
<div class="container">
        <h3 class="text-center">Crear Sesion</h3>
        {% csrf_token %}  {{form.as_p}}
        <button class="btn btn-primary" type="submit" >Crear usuario</button> 
        <br>
    </form>
    <br>
    <a href="index" button class="btn btn-success" type="submit" >Volver Atras</button></a>
</div><!--container -->
</body>
</html>
